body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: lightsteelblue;
}

.cuadroGeneral {
    box-shadow: 0 0.1rem 0.4rem black;
    background: white;
    padding: 0px;
    margin: 0 auto;
    width: 500px;
    height: 620px;
    border-radius: 1%;
}

.cuadroSuperior {
    width: 500px;
    height: 60px;
    display: flex;
    align-items: center; 
    background-color: white; 
}

.cuadroSuperior p {
    justify-content: flex-start;
}
.imagenSuperiorIzquierda {
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
}

.izquierdaSup p {
    margin: 0;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 700;
}

.derechaSup {
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
    margin-left: auto;
}

.imagen img {
    width: 500px;
    height: auto;
}

.imagenes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 5px 0px 5px;
}

.imagenes i {
    font-size: 30px;
    cursor: pointer;
    padding-left: 5px;
    padding-bottom: 0px;
    border: 5px
}
.logoGuardar {
    margin-left: auto;
    padding: 10px;
}


.cuadroInferior {
    width: 90%;
    max-width: 500px;
    padding-left: 10px;
}

.cuadroInferior p {
    margin: 5px 0;
    font-size: 14px;
}

.cuadroInferior span {
    font-weight: bold;
}

.textoSuave {
    font-weight: 350;

}
 :hover.cuadroInferior a{
    color: lightblue;
    cursor: pointer;
    font-weight: bold;
 }

 .cuadroInferior a{
    font-weight: bold;
    color: black;
 }